html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* מונע גלילה */
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.App {
  text-align: center;
  direction: rtl;
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 40px;
  color: white;
  font-family: sans-serif;
}

h2 {
  margin-bottom: 30px;
}

.button-bar {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

/* כפתורים כלליים */
.btn {
  color: blue;
  background-color: #ffffff;
  border: 1px solid blue;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: blue;
  color: white;
  transform: scale(1.05);
}
.btn.delete {
  border-color: red;
  color: red;
}
.btn.delete:hover {
  background-color: red;
  color: white;
}

/* כפתור דרופדאון */
.dropbtn {
  background-color: #ffffff;
  color: blue;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.dropbtn:hover {
  background-color: blue;
  color: white;
}

/* תיבת הדרופדאון */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f9f9f9;
  color: black;
  width: 300px;
  max-height: 350px;
  overflow-y: auto;
  padding: 15px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  border-radius: 8px;
  z-index: 10;
  text-align: left;
  direction: ltr;
}
.area-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* טופס */
.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-inline: auto;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container textarea {
  height: 80px;
  resize: none;
}

.search-bar {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
