.edit-area {
  height: 100vh;
  display: flex;
  flex-direction: column;
  direction: rtl; /* חשוב עבור RTL */
}

.area-header {
  display: flex;
  justify-content: space-between; /* כפתורים בצד ימין, מידע בצד שמאל */
  align-items: center;
  padding: 0.8em;
  background-color: blue;
  color:white;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}

.area-info {
  text-align: right; /* שם ותיאור מימין */
}

.area-info h2, .area-info p {
  margin: 0.2em 0;
}

.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start; /* הכפתורים יישרו מימין (RTL) */
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: white;
  text-align: right; /* הכיתוב מימין */
}

label input, label textarea {
  margin-left: 6px;
  margin-right: 0;
  padding: 4px 6px;
}

.shade-form {
  background-color: #e8f4ff;
  padding: 10px;
  text-align: center;
}

.shade-form input {
  margin: 4px;
  padding: 6px;
  width: 120px;
}

.shade-form button {
  margin-top: 10px;
  padding: 6px 12px;
}

.map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 100%;
  flex: 1;
}

.map-image {
  width: 850px;
  height: auto;
  object-fit: contain;
  display: block;
}

.shade-icon {
  position: absolute;
  font-size: 22px;
  background-color: rgba(255,255,255,0.7);
  border: 1px dashed #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.button {
  color: blue;
  background-color: rgb(255, 255, 255);
  border: 1px solid blue;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: blue;
  color: white;
  transform: scale(1.05);
}
